*{
    margin: 0;
    padding: 0;
}

/* 
   * Important: Así se codificará en el siguiente orden los estilos de class.
   - Colors
   - Container / Text Features
   - Position / Displays
   - Animations
   ! Evitar la mayoría de los BG que no se usen para la maquetación. 
*/

body{
    background-color: #AEBDCA;
}

.loader{
  background-color: #AEBDCA;
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  margin: -20px 0 0 0;
}

.svgloader {
    width: 0;
}
.svgform1 {
  filter: url(#svgloader);
}
.particles1 {
  stop-color: #CDFCF6;
}
.particles2 {
  stop-color: #00F5FF;
}
.svgpath {
  animation: loaderAnimation 1s infinite alternate-reverse;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.svgpath2 {
  animation: loaderAnimation 2s infinite alternate-reverse;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.svgform2 {
  filter: blur(5px);
  opacity: 0.3;
  position: absolute;
  transform: translate(3px, 3px);
}

@keyframes loaderAnimation {0% {stroke-dashoffset: 0;}100% {stroke-dashoffset: -403px;}}

.header{
    width: 100%;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.navContainer{
    background-color: #7895B2;
    border-radius: 25px;
    position: relative;    
}

.navNumberPrincipal, .navNumberOption{
    background-color: #7895B2;
    width: 330px;
    height: 120px;
    border-radius: 25px;
    position: relative;
}

.navNumberPrincipal > span, .navNumberOption > span {
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 73px;
    position: absolute;
    left: 130px;
    top: 25px;
}

.option2{
    background-color: #7895B2;
    border-radius: 0px;
    transition: all .5s ease;
}

.option3{
    background-color: #7895B2;
    border-radius: 0 0 25px 25px;
    transition: all .5s ease;
}

.option3:hover,.option2:hover{
    background-color: #9ab4ce;
}

.navImage{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 60%;
    z-index: 1;
    transition: all 0.5s;
}

.navImage.open{
    transform: rotate(-90deg);
    transition: all .5s;
}

.btnEliminar{
    background-color: #6FC3BE;
    width: 330px;
    height: 120px;
    border-radius: 25px;
    border-color: transparent;
    font-family: 'Secular One', sans-serif;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
}

.contentNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 270px;
    margin: 20px 0 20px 0;
}

.contentNumber2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
    gap: 30px 170px;
    margin-bottom: 10px;
}

.contentNumber3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 270px;
    margin: 0;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 10px;
}

.contentNumberInput{
    background: #9ed2c6;
    box-shadow: #54bab9 7px 8px;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    width: 330px;
    height: 120px;
    border: solid transparent;
    border-radius: 25px;
}

.contentNumberInput:focus{outline: none;}

.contentNumberInput::selection{
    background-color: white;
    color: #6FC3BE;
}

.containerResult{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Secular One', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.btnSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnResult{
    background-color: #7895B2;
    width: 330px;
    height: 120px;
    border-radius: 25px;
    border-color: transparent;
    font-size: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnResult::selection{
    background-color: white;
    color: #7895B2;
}

.btnTutorial, .btnCloseTutorial{
    background-color: orangered;
    width: 330px;
    height: 120px;
    border-radius: 25px;
    border-color: transparent;
    font-size: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    animation: btnTutorial 5s alternate;
}

@keyframes btnTutorial {0%{opacity: 0;}100%{opacity: 1;}}

.containerTutorial{
    font-family: 'Secular One', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTutorial{
    background-color: #f5f5f5;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.disabled{display: none;}

/* Tablets */ 
/* @media (min-width: 768px) and (max-width: 990px) {
    body{
        background-color: goldenrod;
    }
} */

/* Cellphone */ 
@media (max-width: 767px) {
   
    .header,.divTutorial{
        font-size: 18px;
    }

    .navNumberPrincipal, .navNumberOption, .btnEliminar , .btnResult, .btnTutorial{
        width: 300px;
    }

    .contentNumberInput{
        width: 120px;
        height: 70px;
        border-radius: 20px;
    }

    .contentNumber{
        gap: 20px 40px;
    }

    .contentNumber2{
        gap: 15px 45px;
    }

    .contentNumber3{
        gap: 13px;
    }

    .contentNumber3>.contentNumberInput,.contentNumber2 > .contentNumberInput{
        width: 70px;
        height: 50px;
        font-size: 18px;
    }

    .divTutorial, .divTutorial >img{
        width: 100%;
        text-align: center;
    }


}